PORT=5001
NODE_ENV=development
DATABASE_URL=mongodb://127.0.0.1:27017/ev-charging
JWT_SECRET=change-this-access-secret-in-production
JWT_REFRESH_SECRET=change-this-refresh-secret-in-production
CLIENT_URL=http://localhost:5173
